@using VehicleRegistration.Models
@model LTOAssessBatch
<style>
    #batch_filter_adjust {
        position: absolute;
        z-index: 1;
        width: 100%;
        margin-left: 7.5px;
    }

    /*nav.main-header.navbar.navbar-expand-md.navbar-primary.navbar-dark {
        background: #7B0303;
    }*/
</style>
@{
    ViewBag.Title = "CSR Assessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("CSRAssessBatch", "LTO", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6><i class="nav-icon fas fa-file-signature"></i>Batch List for Assessment <small> </small></h6>
                    </div>

                    <div class="card-body">

                        <div class="row" id="batch_filter_adjust">
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Dealer: </span>
                                    </div>
                                    @Html.DropDownListFor(m => m.SelectedMAIID, new SelectList(Model.MAIList, "MAIID", "MAIName"), "Select MAI", new { @class = "form-control select2" })
                                    @Html.HiddenFor(m => m.SelectedBatchID)
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:5px">
                            <div class="col">
                                <div id="getBatchList">
                                    @{
                                        Html.RenderPartial("_BatchList", Model.BatchList);
                                    }
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header row">
                        <h6 class="col-6"><i class="nav-icon fas fa-file-signature"></i> Vehicle List  <small> </small></h6>
                        <div class="col-6">
                            <h6>
                                Batch Reference: <label id="lbl_batchreference"></label>
                            </h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="VehicleListTable">
                            @{
                                Html.RenderPartial("_AssessBatchDetails", Model.VehicleList, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "VehicleList" } });
                            }
                        </div>

                    </div>
                    <div class="card-footer">
                        <center>
                            <div class="form-group">
                                <center>
                                    <button type="button" id="assess_btn" class="btn btn-primary" style="width:250px;">Submit</button>
                                </center>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @*<div class="modal fade" id="modal-assess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><label id="lblModalTitle">Assessment amount</label></h4>
                    </div>
                    <div id="modal-body-assess" class="modal-body">
                        <div class="form-group col-lg-12">
                            @Html.LabelFor(m => m.AssessedAmount)
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                @Html.TextBoxFor(m => m.AssessedAmount,
                               new
                               {
                                   type = "number",
                                   placeholder = "Assessment Amount",
                                   @class = "form-control"
                               })
                            </div>
                            @Html.ValidationMessageFor(m => m.AssessedAmount, "", new { @class = "" })
                        </div>

                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="assess_btn" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="modal fade" id="modal-final-assess">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><label id="lblModalTitle">Are you sure you want to submit?</label></h4>
                </div>
                <div id="modal-body-final-assess" class="modal-body">
                    @*<div class="row">
                            <div class="form-group col-12">
                                <h1 style="text-align:center;">₱ <label id="lbl_amount"></label></h1>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="form-group col-6">
                            <h5>
                                MAI: <label id="lbl_MAI"></label>
                            </h5>
                        </div>
                        <div class="form-group col-6">
                            <h5>
                                Reference: <label id="lbl_ref"></label>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <h5>
                                Description: <label id="lbl_desc"></label>
                            </h5>
                        </div>
                        <div class="form-group col-6">
                            <h5>
                                Count: <label id="lbl_count"></label>
                            </h5>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-6"></div>
                            <div class="form-group col-6">
                                <h5>
                                    Sum: <label id="lbl_sum"></label>
                                </h5>
                            </div>
                        </div>*@
                    @*<div id="VehicleListTable">
                            @{
                                Html.RenderPartial("_BatchDetails", Model.VehicleList);
                            }
                        </div>*@
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" name="submit" value="assessed" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
}


<script>
    var addAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = $("[name='__RequestVerificationToken']").val();
        return data;
    };

    var tbl_VehicleList;
    $("#SelectedMAIID").on("change", function () {
        $('#spinnerDiv').show();
        $('#tbl_VehicleList').find('tbody').empty();
        $.ajax({
            url: '@Url.Action("GetCSRBatchListAssess", "LTO")',
            type: "POST",
            data: addAntiForgeryToken({ "MAIID": $("#SelectedMAIID").val() }),
            cache: false,
            async: true,
            success: function (response) {
                $("#getBatchList").html(response);

                $("#tbl_list").DataTable({
                    "scrollX": true,
                    "scrollY": true,
                    "info": true,
                    "lengthChange": false,
                    "order": [],
                    "dom":
                        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
                });
                $('#spinnerDiv').hide();

                $('#Header_vehiclelist_tbody').on("click", "tr", function (event) {
                    $('#spinnerDiv').show();
                    $("#lbl_batchreference").text($(this).find('td.col_batchreference').text().trim());
                    $("#lbl_MAI").text($(this).find("td:eq(0)").text());
                    $("#lbl_ref").text($(this).find("td:eq(1)").text());
                    $("#lbl_desc").text($(this).find("td:eq(2)").text());
                    $("#lbl_count").text($(this).find("td:eq(4)").text());
                    $("#SelectedBatchID").val($(this).find('input[type=hidden]').val());

                    $.ajax({
                        url: '@Url.Action("GetAssessVehicleList", "LTO")',
                        type: "POST",
                        data: addAntiForgeryToken({ "BatchID": $(this).find('input[type=hidden]').val() }),
                        cache: false,
                        async: true,
                        success: function (response) {
                            $("#VehicleListTable").html(response);

                            tbl_VehicleList = $("#tbl_VehicleList").DataTable({
                                "scrollX": true,
                                "scrollY": true,
                                "info": true,
                                "lengthChange": false,
                                "order": [],
                                "dom":
                                    "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                                    "<'row'<'col-sm-12'tr>>" +
                                    "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
                            });


                            $('#spinnerDiv').hide();

                            //$("#modal-assess").modal("show");
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.responseText);
                            $('#spinnerDiv').hide();
                        }
                    });
                });
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                $('#spinnerDiv').hide();
            }
        });
    });

    $(document).ready(function () {
        $('#Header_vehiclelist_tbody').on("click", "tr", function (event) {
                    $('#spinnerDiv').show();
                    $("#lbl_batchreference").text($(this).find('td.col_batchreference').text().trim());
            $("#lbl_MAI").text($(this).find("td:eq(0)").text());
                    $("#lbl_ref").text($(this).find("td:eq(1)").text());
                    $("#lbl_desc").text($(this).find("td:eq(2)").text());
                    $("#lbl_count").text($(this).find("td:eq(4)").text());
                    $("#SelectedBatchID").val($(this).find('input[type=hidden]').val());

                    $.ajax({
                        url: '@Url.Action("GetAssessVehicleList", "LTO")',
                        type: "POST",
                        data: addAntiForgeryToken({ "BatchID": $(this).find('input[type=hidden]').val() }),
                        cache: false,
                        async: true,
                        success: function (response) {
                            $("#VehicleListTable").html(response);

                            tbl_VehicleList = $("#tbl_VehicleList").DataTable({
                                "scrollX": true,
                                "scrollY": true,
                                "info": true,
                                "lengthChange": false,
                                "order": [],
                                "dom":
                                    "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                                    "<'row'<'col-sm-12'tr>>" +
                                    "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
                            });


                            $('#spinnerDiv').hide();

                            //$("#modal-assess").modal("show");
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.responseText);
                            $('#spinnerDiv').hide();
                        }
                    });
                });})

    $("#assess_btn").on("click", function () {
        var $nonempty = $('#tbl_VehicleList input.amount').filter(function () {
            return this.value == '';
        });

        if ($nonempty.length == 0) {
            $("#modal-final-assess").modal("show");

            var sum = 0;

            $('#tbl_VehicleList input.amount').each(function () {
                sum = sum + parseFloat($(this).val());
            });

            $("#lbl_sum").text(sum);
        }
        else {
                toastr.warning("All amount field is required!");
        }

        //if ($("#vehiclelist_tbody input[type=checkbox]:checked").length > 0) {
        //    $("#modal-final-assess").modal("show");

        //    var sum = 0;

        //    $('#tbl_VehicleList input.amount').each(function () {
        //        sum = sum + parseFloat($(this).val());
        //    });

        //    $("#lbl_sum").text(sum);

        //}
        //else {
        //    toastr.warning("Please check one or more vehicle to submit!");
        //}
    });

</script>