@using VehicleRegistration.Models
@model TransactionTypeModel

@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("TransactionTypeList", "Wallet")'">
                    <i class="far fa-times-circle"></i>
                    @*<i class="far fa-times-circle"></i>*@
                </button>
            </div>
            <h6><i class="nav-icon far fas fa-wallet"></i> Transaction Type Form   <small></small></h6>
        </div>
        <!-- /.card-header -->

        <article class="card-body mx-1">
            @using (Html.BeginForm("TransactionType", "Wallet", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group col-lg-4">
                    @Html.LabelFor(m => m.TransactionName)
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        @Html.HiddenFor(m => m.TransactionTypeID,
                   new
                   {
                       @class = "form-control"
                   })
                        @Html.TextBoxFor(m => m.TransactionName,
                   new
                   {
                       placeholder = "Transaction Name",
                       @class = "form-control"
                   })
                    </div>
                    @Html.ValidationMessageFor(m => m.TransactionName, "", new { @class = "" })
                </div>
                <!-- form-group// -->
                <div class="form-group col-lg-4">
                    @Html.LabelFor(m => m.EntryTypeList)
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-id-card"></i> </span>
                        </div>
                        @Html.DropDownListFor(m => m.TransactionEntryTypeID, new SelectList(Model.EntryTypeList, "TransactionEntryTypeID", "TransactionEntryTypeName"), "Select Entry Type", new { @class = "form-control select2" })
                    </div>
                </div>
                @*<div class="form-group col-lg-4">
                    <label>Transaction Type</label>

                    <div class="form-check">
                        @Html.RadioButtonFor(m => m.IsDebit, "True")
                        @Html.LabelFor(m => m.IsDebit)
                    </div>
                    <div class="form-check">
                        @Html.RadioButtonFor(m => m.IsDebit, "False")
                        <label for="IsDebit">Credit</label>
                    </div>

                </div>*@

                <!-- form-gro

    @*<div class="form-group col-lg-4">
        <div class="form-check">
            @Html.RadioButtonFor(m => m.IsDebit, true, new { name = "Type"})
            @Html.LabelFor(m => m.IsDebit)
        </div>
        <div class="form-check">
            @Html.RadioButtonFor(m => m.IsCredit, false,new { name = "Type"})
            @Html.LabelFor(m => m.IsCredit)
        </div>
    </div>*@ <!-- form-group end.// -->
            </div>
                <div class="form-group col-lg-6">
                    <p class="lead">Payment Methods:</p>
                    <img src="~/scripts/Dashboard/img/credit/visa.png" alt="Visa" />

                    <img src="~/scripts/Dashboard/img/credit/mastercard.png" alt="Mastercard" />

                    <img src="~/scripts/Dashboard/img/credit/american-express.png" alt="American Express" />

                    <img src="~/scripts/Dashboard/img/credit/paypal2.png" alt="Paypal" />


                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                        plugg
                        dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                    </p>
                </div>
                if (ViewBag.Edit == false)
                {
                    <center>
                        <div class="form-group">
                            <center>
                                <button type="submit" name="submit" value="Create" class="btn btn-primary btn-block" style="width:250px;"> Create </button>
                                @*<button type="button" class="btn btn-primary btn-block" data-toggle="tooltip" title="New Transaction" onclick="location.href='@Url.Action("NewTransactionType", "Wallet")'"> </button>*@

                            </center>

                        </div>
                    </center>
                }
                else
                {
                    <center>
                        <div class="form-group row">
                            <button type="button" data-toggle="modal" data-target="#modal-delete" class="btn btn-danger btn-block col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width:250px;"> Delete Account </button>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                            <button type="button" data-toggle="modal" data-target="#modal-save" class="btn btn-success btn-block col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width:250px;"> Save Account </button>
                        </div>
                    </center>
                }

                @Html.Partial("_Confirmation")
            }
        </article>
        <!-- /.card-body -->
    </div>
</section>
<script type="text/javascript">
    $("#left_nav_dbinc").toggleClass("menu-open");
    $("#left_nav_wallet").toggleClass("menu-open");
    $("#left_nav_ul_wallet").css("display", "block");
    $("#transactiontype").toggleClass("active");
    ///// automatic open navbar after login ///////
    $("#left_nav_dbinc").toggleClass("menu-open");
    $("#left_nav_admin_insurance").toggleClass("menu-open");
    $("#left_nav_dlr").toggleClass("menu-open");
    $("#left_nav_mai").toggleClass("menu-open");
    ///// end automatic open navbar after login ///////
</script>



