
@using VehicleRegistration.Models
@model AirconTypeModel
@{
    ViewBag.Title = "AirconTypeRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("Index", "AirconType")'">
                    <i class="far fa-times-circle"></i>
                    @*<i class="far fa-times-circle"></i>*@
                </button>
            </div>
            <h6><i class="nav-icon far fas fa-users"></i> Vehicle Type Registration Form   </h6>
        </div>
        <!-- /.card-header -->

        <article class="card-body mx-1">
           @using (Html.BeginForm("AirconTypeRegistration", "AirconType", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="form-group col-lg-4">
                    @Html.LabelFor(m => m.AirconTypeReference)
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        @Html.HiddenFor(m => m.AirconTypeID,
                           new
                           {
                               @class = "form-control"
                           })
                        @Html.TextBoxFor(m => m.AirconTypeReference,
                           new
                           {
                               placeholder = "Reference",
                               @class = "form-control"
                           })
                    </div>
                    @Html.ValidationMessageFor(m => m.AirconTypeReference, "", new { @class = "" })
                </div>
                <!-- form-group// -->
                <div class="form-group col-lg-4">
                    @Html.LabelFor(m => m.AirconTypeDescription)
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        @Html.TextBoxFor(m => m.AirconTypeDescription,
                           new
                           {
                               placeholder = "Description",
                               @class = "form-control"
                           })
                    </div>
                    @Html.ValidationMessageFor(m => m.AirconTypeDescription, "", new { @class = "" })
                </div> <!-- form-group// -->
            </div>
               if (ViewBag.Edit == false)
               {
                    <center>
                        <div class="form-group">
                            <center>
                                <button type="submit" name="submit" value="Create" class="btn btn-primary btn-block" style="width:250px;"> Create </button>
                            </center>
                        </div>
                    </center>
                }
                else
                {
                    <center>
                        <div class="form-group row">
                            <button type="button" data-toggle="modal" data-target="#modal-delete" class="btn btn-danger btn-block col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width:250px;"> Delete </button>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                            <button type="button" data-toggle="modal" data-target="#modal-save" class="btn btn-success btn-block col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width:250px;"> Save </button>
                        </div>
                    </center>
                }

                @Html.Partial("_Confirmation")
            }
        </article>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
