@using VehicleRegistration.Models
@model List<LTOAssessBatchDetailVehicle>

<table id="tbl_VehicleList" class="table table-bordered table-striped table-hover" style="width:100%; table-layout:auto;">
    <thead>
        <tr>
            <th style="width:20%">Engine #</th>
            <th style="width:20%">Chassis #</th>
            <th style="width:20%">Make</th>
            <th style="width:20%">Model</th>
            <th style="width:15%">Variant</th>
            <th style="width:5%">Year</th>
        </tr>
    </thead>
    <tbody id="vehiclelist_tbody">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr class="rowclick" style="cursor: pointer" target="_blank" data-href="@Url.Action("VehicleInfo","VehicleInfo", new { id = Model[i].VehicleID })">
                <td style="width: 20%">
                    @Html.DisplayFor(o => Model[i].EngineNumber)
                    @Html.HiddenFor(o => Model[i].EngineNumber,
                    new
                    {
                        Name = "VehicleList[" + i + "].EngineNumber"
                    })
                </td>
                <td style="width: 20%">
                    @Html.DisplayFor(o => Model[i].ChassisNumber)
                    @Html.HiddenFor(o => Model[i].ChassisNumber,
                   new
                   {
                       Name = "VehicleList[" + i + "].ChassisNumber"
                   })
                </td>
                <td style="width:20%">
                    @Html.DisplayFor(o => Model[i].VehicleMakeName)
                    @Html.HiddenFor(o => Model[i].VehicleID,
                    new
                    {
                        Name = "VehicleList[" + i + "].VehicleID"
                    })
                    @Html.HiddenFor(o => Model[i].VehicleMakeName,
                    new
                    {
                        Name = "VehicleList[" + i + "].VehicleMakeName"
                    })
                </td>
                <td style="width: 20%">
                    @Html.DisplayFor(o => Model[i].VehicleModelName)
                    @Html.HiddenFor(o => Model[i].VehicleModelName,
                    new
                    {
                        Name = "VehicleList[" + i + "].VehicleModelName"
                    })
                </td>
                <td style="width: 15%">
                    @Html.DisplayFor(o => Model[i].Variant)
                    @Html.HiddenFor(o => Model[i].Variant,
                    new
                    {
                        Name = "VehicleList[" + i + "].Variant"
                    })
                </td>
                <td style="width: 5%">
                    @Html.DisplayFor(o => Model[i].YearOfMake)
                    @Html.HiddenFor(o => Model[i].YearOfMake,
                    new
                    {
                        Name = "VehicleList[" + i + "].YearOfMake"
                    })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $("#check_all").on("click", function () {
        if ($(this).is(":checked")) {
            $(".checkbox_all").prop("checked", true);
        }
        else {
            $(".checkbox_all").prop("checked", false);
        }
    });
    $('#vehiclelist_tbody tr td *').click(function (e) { e.stopPropagation(); });

    $(".rowclick").click(function () {
        var win = window.open($(this).data("href"), '_blank');
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        } else {
            //Browser has blocked it
            alert('Please allow popups for this website');
        }
    });
</script>
